*{
	margin: 0;
	padding: 0;
}

.warna{
	background-color: red;
}

#navbar .nav-link{
	color: white;
}

#navbar .dropdown-menu{
	margin-top: 22px;
}

.logo{
	width: 200px;
}

.header{
	background-color: red;
	height: 70px;
}

.toggle{
	background-color: transparent;
}

.sliderimage{
	margin-top: 50px;
}

.slider-img{
	height: 445px;
	border-radius: 20px;
}

.slider{
	background-color: rgb(186,3,2);
	border-radius: 20px;
	display: flex;
}

.slider img{
	height: 400px;
	width: 100%;
	border-radius: 30px;
}

.notive{
	margin-top: 20px;
}

.danger{
	background-color: rgb(186,3,2) !important;
}

.slide{
	margin-bottom: 20px;
}

@media only screen and (max-width: 480px){
	.slider{
		background-color: rgb(186,3,2);
		height: 90px;
	}
}